.title {
    text-align: center;
    color: black;
    height: 200px;
}

.background {
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200px;

}

body {
    background-image: url('../img/wallpaper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top; /* Adjusted background position */
}
.card {
    background-color: rgba(255, 255, 255, 0.6);
}

.table {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
}

.row {
    display: flex;
}

.cell {
    flex: 1;
    height: auto;
    padding: 10px;
    border: 1px solid #ccc;
    overflow-x: auto;
    white-space: nowrap;
}

.transactionCell {
    /* flex-shrink: 3; */
    inline-size: 50px;
}